Interface/Connected Services/GMapsServiceReference/PROG3170_A04_LinkedInPlaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RESTfulExample" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RESTfulExample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationInfo" nillable="true" type="tns:LocationInfo" />
</xs:schema>